.pitchseven {
	height:95vh;
	background-image: url(surface/Rugby_field.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center top;
	background-color: #257A10;
}


.rugby {
	width: 80px;
	height: 80px; 
	border: 0;
	box-shadow: 0;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: 0;
	margin-top: 200px;
}

