.pitchfour {
	height:100vh;
	background-image: url(surface/baseball_pitch.svg);
	background-repeat: no-repeat;
	background-position: center top;
	
	background-color: green;

}


.baseball {
	width: 80px;
	height: 80px; 
	border: 0;
	box-shadow: 0;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: 0;
	margin-top: 200px;
}

